* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Lato'
}

div.card {
	width: 100px;
	height: 100px;
	border: solid black 2px;
	float: left;
}

#start {
	display: inline;
}

#swords > .card {
	background: peru;
}

#arrows > .card {
	background: goldenrod;
}

#cannons > .card {
	background: peachpuff;
}

#pistols > .card {
	background: silver;
}

#jokers > .card {
	background: linear-gradient(red, yellow);
}

.random {
	display: block;
}

footer {
	font-size: 10px;
	padding-top: 30px;
}

cardDown {

}

button {
	font-size: 12px;
	width: 150px;
	border: solid black 2px;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

#march {
	display: none;
}

#declare-war {
	color: red;
	text-align: center;
}

#results {
	margin: 10px 25px 10px 15px;
}

p {
	padding: 2px 5px 2px 5px;
}

img {
	padding: 3px;
}

div.pile {
	padding: 20px;
	float: left;
	width: 150px;
	display: block;
}

#continue {
	display: none;
}

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}